.btn {
  @include pxRem(padding, 8 16);
  @include pxRem(border-radius, 8);
  @include pxRem(font-size, 16);
  @include pxRem(height, 40);
  background: map-get($colors, primary);
  text-transform: capitalize;
  color: map-get($colors, white);
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  transition: background 400ms ease;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $heading-font;
  &:hover {
    background-color: map-get($map: $colors, $key: bg-orange);
    color: map-get($map: $colors, $key: white);
  }
  &:focus {
    background-color: map-get($map: $colors, $key: bg-orange);
    color: map-get($map: $colors, $key: white);
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
    color: map-get($colors, txt-disabled);
    border-color: map-get($colors, txt-disabled);
    background: map-get($colors, bg-gray-light);
  }
}
.btn-white {
  font-family: 'Ubuntu', sans-serif;
  padding: 24px 32px 24px 20px;
  font-weight: 500;
  border: 1px solid #eaecf0;
  background: #fff;
  color: #344054;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  .anticon-menu {
    padding: 0;
    padding-left: 4px;
  }
  .btn-content {
    @include pxRem(padding-top, 2px);
    margin-right: 19px;
    margin-left: 16px;
  }
}
.btn-chat {
  @include pxRem(border-radius, 30px);
  background-color: map-get($map: $colors, $key: white);
  color: map-get($map: $colors, $key: black);
  padding: 22px 17px 22px 17px;

  border: 1px solid map-get($map: $colors, $key: border-color);
  color: map-get($map: $colors, $key: paragraph-color);

  .btn-chart-content {
    margin-left: 5px;
  }
}
.btn-heart {
  height: 48px;
  width: 48px;
  @include pxRem(border-radius, 100px);
  background-color: map-get($map: $colors, $key: white);
  color: map-get($map: $colors, $key: black);
  color: #344054;
  border: 1px solid map-get($map: $colors, $key: border-color);
}
.popup-modal {
  padding: 0.3rem 0.532rem;
  height: 37px;
  background-color: map-get($map: $colors, $key: bg-orange);
  color: map-get($map: $colors, $key: white);
}
.btn-custom {
  @include pxRem(padding, 29px 58px 29px 15px !important);
  @include pxRem(margin-bottom, 20);
  background-color: map-get($map: $colors, $key: white);
  color: map-get($map: $colors, $key: black);
  border: 1px solid #ddd;
  font-family: $font-body;
  .btn-dropdown-language {
    @include pxRem(font-size, 16px !important);
    color: #667085 !important;
    .anticon-aim {
      @include pxRem(margin-right, 16px);
    }
    .anticon-down {
      top: 3px !important;
      right: -35px !important;
    }
  }
  &:hover {
    background-color: transparent;
  }
}
.prev-icon {
  height: 52px;
  width: 52px;
  border: 1px solid #eaecf0;
  background-color: map-get($map: $colors, $key: white);
  color: #333333;
  @include pxRem(margin-right, 12px);
}
.next-icon {
  height: 52px;
  width: 52px;
  border: 1px solid #eaecf0;
  background-color: map-get($map: $colors, $key: white);
  color: #333333;
}
.btn2 {
  @include pxRem(padding, 18px 44px);
  height: 50px;
  font-family: $heading-font;
  line-height: 1.5;
  @include pxRem(font-size, 16px);
  font-weight: 500;
  border: 1px solid transparent;

  background-color: map-get($map: $colors, $key: bg-orange);
  @include pxRem(margin, 0 15px 10px 0);
  &:hover {
    background-color: map-get($map: $colors, $key: white);
    color: map-get($map: $colors, $key: bg-orange);
    border: 1px solid map-get($map: $colors, $key: bg-orange);
  }
}
.btn3 {
  @include pxRem(padding, 18px 44px);
  height: 50px;
  background-color: #475467;
  &:hover {
    background-color: map-get($map: $colors, $key: white);
    color: map-get($map: $colors, $key: bg-orange);
    border: 1px solid map-get($map: $colors, $key: bg-orange);
  }
}
.btn-outline1 {
  width: 100%;
  border: 1px solid #d0d5dd;
  color: #667085;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 52px;
  background: none;
  transition: color 0.2s linear;
  z-index: 1;
  &::before {
    border: 1px solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #524eb7;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    border-radius: 0;
  }
}
.btn-submit {
  height: 42px;
  background-color: map-get($map: $colors, $key: bg-orange);
  width: 90px;
  @include pxRem(font-size, 16px);
  font-family: $font-body;
}
@include respond-below(largest) {
  .btn-chat {
    padding: 0;
    width: 31px;
    height: 33px;
    &:first-child {
      .btn-chart-content {
        display: none;
      }
    }
  }
  .btn-heart {
    padding: 0;
    width: 33px;
    height: 33px;
  }
  .popup-modal {
    height: 31px;
    width: 35px;
  }
}

@include respond-below(small-medium) {
  .prev-icon {
    height: 30px;
    width: 30px;
  }
  .next-icon {
    height: 30px;
    width: 30px;
  }
}
.slick-slider {
  .slick-next {
    right: 14px;
    top: -80px;
    &::before {
      content: '>';
    }
  }
  .slick-prev {
    right: 80px;
    left: unset;
    top: -80px;
    &::before {
      content: '<';
    }
  }
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    width: 52px;
    background: transparent;
    border: 1px solid #eaecf0;
    height: 52px;
    padding: 0;
    transform: translate(0, -50%);
    border-radius: 4px;
    cursor: pointer;
    color: black;
    outline: none;
    &::before {
      display: inline-block;
      color: #98a2b3;
      margin-bottom: 6px;
    }
    &:hover {
      background-color: #FCDA69;
      color: #333333;
    }
  }
}
@include respond-below(small-medium) {
  .slick-slider {
    .slick-next,
    .slick-prev {
      width: 30px;
      height: 30px;
    }
    .slick-prev {
      right: 50px;
      top: -25px;
    }
    .slick-next {
      right: 14px;
      top: -25px;
    }
  }
}
@include respond-between(wide,large) {
  .btn-white {
    @include pxRem(padding, 26 34 26 18);
  }
}
@include respond-below(medium) {
  .btn-custom {
    .btn-dropdown-language {
      width: 100%;
    }
  }
}